* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	height: 100vh;
	overflow: hidden;
}

body {
	font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

#tooltip {
	background-color: white;
	padding: 3px 5px;
	border: 1px solid black;
	text-align: center;
	padding: 10px 20px;
	margin: 0 20px;
	left: 0;
	right: 0;
	bottom: 20px;
	font-size: 14px;
}

circle,
path {
	cursor: pointer;
	overflow: auto
}

circle {
	/*fill: none;*/
	pointer-events: all;
}

#circle1 {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}
