* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

#tooltip {
	background-color: white;
	padding: 3px 5px;
	border: 1px solid black;
	text-align: center;
}

circle,
path {
	cursor: pointer;
}

circle {
	fill: none;
	pointer-events: all;
}

#circle1 {
	display: block;
	margin: 0 auto;
}